@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #27282B;
    color: aliceblue;
    font-family: Roboto, sans-serif;
}

header {
    color: black;
    background-color: blanchedalmond;
}

button {
    font-family: Montserrat, sans-serif;
}

header>a {
    font-weight: 100;
    color: rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;
}

header>nav>ul {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 1rem;

}



.primary-button {
    background-color: #84C9FB;
    color: white;
}

main>section {
    background-color: rgb(39, 40, 43);
    background-color: rgba(255, 255, 255, 0.05);
}

article>h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

article>h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 1.3rem;
}

/* Categorias */
section>div>div>a {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    z-index: 10;
}

div>h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 0rem;
}

article>p {
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
}